<section class="postone">
  <div class="postone-container container">
    <picture>
      <source
        type="image/jpeg"
        srcset="./images/blog-desktop.jpg 1x, ./images/blog-desktop@2x.jpg 2x"
        media="(min-width:1360px)"
      />
      <source
        type="image/jpeg"
        srcset="./images/blog-tablet.jpg 1x, ./images/blog-tablet@2x.jpg 2x"
        media="(min-width:768px)"
      />
      <source
        type="image/jpeg"
        srcset="./images/blog-mobile.jpg 1x, ./images/blog-mobile@2x.jpg 2x"
      />
      <img
        src="./images/blog-desktop.jpg"
        alt="notes on the table"
        class="postone-image"
      />
    </picture>
    <div class="postone-description">
      <p class="postone-description__subtitle">
        <time datetime="2020-04-16">April 16 2020</time>
      </p>
      <h2 class="postone-description__title">Blog Post One</h2>
      <p class="postone-description__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <div>
        <button class="postone-description__button js-open-modal" type="button" data-modal="2">
          Read Our Blog
        </button>
      </div>
    </div>
  </div>
</section>
