<section class="business">
  <div class="container business-container">
    <p class="business-container__subtitle">This is what we do</p>
    <h2 class="business-container__title">Business Cases</h2>
    <p class="business-container__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="business-container__list">
      <li class="business-container__item">
        <picture>
          <source
            type="image/jpeg"
            srcset="
              ./images/team-at-the-table-desktop.jpg    1x,
              ./images/team-at-the-table-desktop@2x.jpg 2x
            "
            media="(min-width:1360px)"
          />
          <source
            type="image/jpeg"
            srcset="
              ./images/team-at-the-table-tablet.jpg    1x,
              ./images/team-at-the-table-tablet@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            type="image/jpeg"
            srcset="
              ./images/team-at-the-table-mobile.jpg    1x,
              ./images/team-at-the-table-mobile@2x.jpg 2x
            "
          />
          <img
            src="./images/team-at-the-table-desktop.jpg"
            alt="team at the
          table"
          />
        </picture>
      </li>
      <li class="business-container__item">
        <picture>
          <source
            type="image/jpeg"
            srcset="
              ./images/graphs-desktop.jpg    1x,
              ./images/graphs-desktop@2x.jpg 2x
            "
            media="(min-width:1360px)"
          />
          <source
            type="image/jpeg"
            srcset="
              ./images/graphs-tablet.jpg    1x,
              ./images/graphs-tablet@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            type="image/jpeg"
            srcset="
              ./images/graphs-mobile.jpg    1x,
              ./images/graphs-mobile@2x.jpg 2x
            "
          />
          <img src="./images/graphs-desktop.jpg" alt="graphs" />
        </picture>
      </li>
      <li class="business-container__item">
        <picture>
          <source
            type="image/jpeg"
            srcset="
              ./images/handshake-desktop.jpg    1x,
              ./images/handshake-desktop@2x.jpg 2x
            "
            media="(min-width:1360px)"
          />
          <source
            type="image/jpeg"
            srcset="
              ./images/handshake-tablet.jpg    1x,
              ./images/handshake-tablet@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            type="image/jpeg"
            srcset="
              ./images/handshake-mobile.jpg    1x,
              ./images/handshake-mobile@2x.jpg 2x
            "
          />
          <img
            src="./images/handshake-desktop.jpg"
            alt="two people shaking hands"
          />
        </picture>
      </li>
      <li class="business-container__item">
        <picture>
          <source
            type="image/jpeg"
            srcset="
              ./images/team-made-a-decision-desktop.jpg    1x,
              ./images/team-made-a-decision-desktop@2x.jpg 2x
            "
            media="(min-width:1360px)"
          />
          <source
            type="image/jpeg"
            srcset="
              ./images/team-made-a-decision-tablet.jpg    1x,
              ./images/team-made-a-decision-tablet@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            type="image/jpeg"
            srcset="
              ./images/team-made-a-decision-mobile.jpg    1x,
              ./images/team-made-a-decision-mobile@2x.jpg 2x
            "
          />
          <img
            src="./images/team-made-a-decision-desktop.jpg"
            alt="the team made a decision"
          />
        </picture>
      </li>
      <li class="business-container__item">
        <picture>
          <source
            type="image/jpeg"
            srcset="
              ./images/person-works-on-a-laptop-desktop.jpg    1x,
              ./images/person-works-on-a-laptop-desktop@2x.jpg 2x
            "
            media="(min-width:1360px)"
          />
          <source
            type="image/jpeg"
            srcset="
              ./images/person-works-on-a-laptop-tablet.jpg    1x,
              ./images/person-works-on-a-laptop-tablet@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            type="image/jpeg"
            srcset="
              ./images/person-works-on-a-laptop-mobile.jpg    1x,
              ./images/person-works-on-a-laptop-mobile@2x.jpg 2x
            "
          />
          <img
            src="./images/person-works-on-a-laptop-desktop.jpg"
            alt="a person works on a laptop"
          />
        </picture>
      </li>
      <li class="business-container__item">
        <picture>
          <source
            type="image/jpeg"
            srcset="
              ./images/high-rise-buildings-desktop.jpg    1x,
              ./images/high-rise-buildings-desktop@2x.jpg 2x
            "
            media="(min-width:1360px)"
          />
          <source
            type="image/jpeg"
            srcset="
              ./images/high-rise-buildings-tablet.jpg    1x,
              ./images/high-rise-buildings-tablet@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            type="image/jpeg"
            srcset="
              ./images/high-rise-buildings-mobile.jpg    1x,
              ./images/high-rise-buildings-mobile@2x.jpg 2x
            "
          />
          <img
            src="./images/high-rise-buildings-desktop.jpg"
            alt="high-rise buildings"
          />
        </picture>
      </li>
      <li class="business-container__item">
        <picture>
          <source
            type="image/jpeg"
            srcset="
              ./images/one-of-the-team-desktop.jpg    1x,
              ./images/one-of-the-team-desktop@2x.jpg 2x
            "
            media="(min-width:1360px)"
          />
          <source
            type="image/jpeg"
            srcset="
              ./images/one-of-the-team-tablet.jpg    1x,
              ./images/one-of-the-team-tablet@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            type="image/jpeg"
            srcset="
              ./images/one-of-the-team-mobile.jpg    1x,
              ./images/one-of-the-team-mobile@2x.jpg 2x
            "
          />
          <img
            src="./images/one-of-the-team-desktop.jpg"
            alt="one of the team looks into the camera"
          />
        </picture>
      </li>
      <li class="business-container__item">
        <picture>
          <source
            type="image/jpeg"
            srcset="
              ./images/woman-is-smiling-desktop.jpg    1x,
              ./images/woman-is-smiling-desktop@2x.jpg 2x
            "
            media="(min-width:1360px)"
          />
          <source
            type="image/jpeg"
            srcset="
              ./images/woman-is-smiling-tablet.jpg    1x,
              ./images/woman-is-smiling-tablet@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            type="image/jpeg"
            srcset="
              ./images/woman-is-smiling-mobile.jpg    1x,
              ./images/woman-is-smiling-mobile@2x.jpg 2x
            "
          />
          <img
            src="./images/woman-is-smiling-desktop.jpg"
            alt="a woman works at a laptop and smiles"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
