<section class="team">
  <div class="team-container container">
    <p class="team-container__subtext">Who we are</p>
    <h2 class="team-container__heading">Our professional team</h2>
    <p class="team-container__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team-list">
      <li class="team-list__item">
        <div class="team-list__img-thumb">
          <picture>
            <source
              type="image/jpeg"
              srcset="
                ./images/president-mobile.jpg    1x,
                ./images/president-mobile@2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <source
              type="image/jpeg"
              srcset="
                ./images/president-tablet.jpg    1x,
                ./images/president-tablet@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              type="image/jpeg"
              srcset="
                ./images/president-desktop.jpg    1x,
                ./images/president-desktop@2x.jpg 2x
              "
              media="(min-width:1360px)"
            />
            <img
              class="team-list__img"
              src="./images/president-desktop.jpg"
              alt="President's photo"
            />
          </picture>

          <ul class="social-list">
            <li class="social-list__item">
              <a class="social-list__link" href="#" aria-label="Facebook">
                <svg width="35" height="35" class="social-list__icon">
                  <use
                    href="./images/sprite-optimized.svg#icon-facebook-logo"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a class="social-list__link" href="#" aria-label="Twitter">
                <svg width="35" height="35" class="social-list__icon">
                  <use
                    href="./images/sprite-optimized.svg#icon-twitter-logo"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a class="social-list__link" href="#" aria-label="YouTube">
                <svg width="40" height="35" class="social-list__icon">
                  <use
                    href="./images/sprite-optimized.svg#icon-youtube-logo"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a class="social-list__link" href="#" aria-label="Linkedin">
                <svg width="31" height="35" class="social-list__icon">
                  <use
                    href="./images/sprite-optimized.svg#icon-linkedin-logo"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <h3 class="team-list__name">John Doe</h3>
        <p class="team-list__prof">President</p>
      </li>
      <li class="team-list__item">
        <div class="team-list__img-thumb">
          <picture>
            <source
              type="image/jpeg"
              srcset="
                ./images/vice-president-mobile.jpg    1x,
                ./images/vice-president-mobile@2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <source
              type="image/jpeg"
              srcset="
                ./images/vice-president-tablet.jpg    1x,
                ./images/vice-president-tablet@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              type="image/jpeg"
              srcset="
                ./images/vice-president-desktop.jpg    1x,
                ./images/vice-president-desktop@2x.jpg 2x
              "
              media="(min-width:1360px)"
            />
            <img
              class="team-list__img"
              src="./images/vice-president-desktop.jpg"
              alt="Vice President's photo"
            />
          </picture>

          <ul class="social-list">
            <li class="social-list__item">
              <a class="social-list__link" href="#" aria-label="Facebook">
                <svg width="35" height="35" class="social-list__icon">
                  <use
                    href="./images/sprite-optimized.svg#icon-facebook-logo"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a class="social-list__link" href="#" aria-label="Twitter">
                <svg width="35" height="35" class="social-list__icon">
                  <use
                    href="./images/sprite-optimized.svg#icon-twitter-logo"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a class="social-list__link" href="#" aria-label="YouTube">
                <svg width="40" height="35" class="social-list__icon">
                  <use
                    href="./images/sprite-optimized.svg#icon-youtube-logo"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a class="social-list__link" href="#" aria-label="Linkedin">
                <svg width="31" height="35" class="social-list__icon">
                  <use
                    href="./images/sprite-optimized.svg#icon-linkedin-logo"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <h3 class="team-list__name">Jane Doe</h3>
        <p class="team-list__prof">Vice President</p>
      </li>
      <li class="team-list__item">
        <div class="team-list__img-thumb">
          <picture>
            <source
              type="image/jpeg"
              srcset="
                ./images/marketing-head-mobile.jpg    1x,
                ./images/marketing-head-mobile@2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <source
              type="image/jpeg"
              srcset="
                ./images/marketing-head-tablet.jpg    1x,
                ./images/marketing-head-tablet@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              type="image/jpeg"
              srcset="
                ./images/marketing-head-desktop.jpg    1x,
                ./images/marketing-head-desktop@2x.jpg 2x
              "
              media="(min-width:1360px)"
            />
            <img
              class="team-list__img"
              src="./images/marketing-head-desktop.jpg"
              alt="Marketing Head's photo"
            />
          </picture>

          <ul class="social-list">
            <li class="social-list__item">
              <a class="social-list__link" href="#" aria-label="Facebook">
                <svg width="35" height="35" class="social-list__icon">
                  <use
                    href="./images/sprite-optimized.svg#icon-facebook-logo"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a class="social-list__link" href="#" aria-label="Twitter">
                <svg width="35" height="35" class="social-list__icon">
                  <use
                    href="./images/sprite-optimized.svg#icon-twitter-logo"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a class="social-list__link" href="#" aria-label="YouTube">
                <svg width="40" height="35" class="social-list__icon">
                  <use
                    href="./images/sprite-optimized.svg#icon-youtube-logo"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a class="social-list__link" href="#" aria-label="Linkedin">
                <svg width="31" height="35" class="social-list__icon">
                  <use
                    href="./images/sprite-optimized.svg#icon-linkedin-logo"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <h3 class="team-list__name">Steve Smith</h3>
        <p class="team-list__prof">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
