.postone-container {
  display: flex;
  flex-direction: column;
  color: $main-background;
  background-color: $second-btn-color;

  @media screen and (min-width:768px){
    flex-direction: row-reverse;
  }
}

.postone-image {
    width: 320px;
    height: 247px;

    @media screen and (min-width:768px){
        width: 384px;
        height: 468px;
    }
    @media screen and (min-width:1360px){
        width: 680px;
        height: 517px;
    }
}

.postone-description {
padding:30px;
flex-direction: column;

@media screen and (min-width:768px){
 max-width: 384px;
 padding:29px 39px 30px;
}
  
@media screen and (min-width:1360px){
  padding: 112px 44px 113px 30px;
  display: block;
  max-width: 680px;
}

&__subtitle {
    margin: 0 0 5px;
    font-size: 20px;
    line-height: 1.65;
    color: $secondary-color;
}

  &__title {
    margin: 0 0 26px;
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    color: $secondary-color;
  }

  &__text {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 1.62;
    color: $secondary-color;

    @media screen and (min-width:768px){
      font-size: 18px;
      line-height: 1.55;
  }


  }

  &__button {
    display: inline-block;
    padding: 10px 31px 10px 42px;
    min-width: 196px;

    border: 1px solid $main-background;
    border-radius: 5px;
    background-color: $second-btn-color;
    color: $main-background;
    font-size: 16px;
    line-height: 1.62;

    cursor: pointer;
    transition: background-color 250ms $time-function;

    &:hover,
    &:focus {
      background-color: $hover-second-btn-color;

      @media screen and (min-width:768px){
        padding: 10px 31px 11px 41px;
        font-size: 18px;
        line-height: 1.55;
    }
    }
  }
}
