.header {
    &__container{
        padding: 27px 20px 0 ;

        @media screen and (min-width:768px){
            padding: 11px 40px 0 38px;
        }

        @media screen and (min-width:1360px) {
            padding: 21px 50px 0 46px;
        }
    }
    
    // .header__nav

    &__nav {
        display: flex;
        flex-direction: column;

        @media screen and (min-width:768px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            
        }

        @media screen and (min-width:1360px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    // .header__list

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 12px;

        @media screen and (min-width:768px) {
            gap: 18px;
            padding-top: 10px;
        }
        @media screen and (min-width:1360px) {
            gap: 38px;
        }
    }

    // .header__item

    // &__item {}

    // .header__link

    &__link {
        color: $secondary-color;
        font-size: 16px;
        line-height: 1.625;

        @media screen and (min-width:768px){
            font-size: 18px;
            line-height: 1.55;
        }
            
        transition: color 250ms $time-function;
        &:hover{
          color: $link-hover-focus-color;
        }
        &:focus{
          color: $link-hover-focus-color;
        }
    }
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    @media screen and (min-width:768px) {
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }
    color: $logo-color;
    font-size: 35px;
    line-height: 1.2;
    text-align: center;
    // .logo__icon

    &__icon {
        fill: $logo-color;
        width: 40px;
        height: 43px;
        margin-right: 10px;
    }

    // .logo__part

    &__part {
        color: $secondary-color;
    }
}


