// .provide{

// }

.provide__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    // max-width:  ;
    max-height: 460px;

    color: $secondary-color;
    background-color: $second-additional-background;

    @media screen and (min-width:768px) {
        width: 768px;
        flex-direction: row;
    }
    @media screen and (min-width:1360px){
        width: 1360px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
}

// .provide__img {
//     display: inline-block;
//     width: 680px;
// }

.provide__text-container {
    padding: 30px;
    width: 320px;
    max-height: 540px;
    
    @media screen and (min-width:768px) {
        padding: 30px 40px 30px 30px;
        width: 384px;
        max-height: 564px;
    }
    @media screen and (min-width:1360px) {
        padding: 84px 44px 84px 30px;
        width: 680px;
        max-height: 460px;
    }
}

.provide__subtitle {
    font-size: 18px;
    line-height: 1.66;

    margin: 0 0 5px;

    @media screen and (min-width:768px) {
        font-size: 20px;
        line-height: 1.65;
    }
}

.provide__title {
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    margin: 0 0 26px;
}

.provide__text {
    font-size: 16px;
    line-height: 1.625;

    margin: 0 0 17px;

    @media screen and (min-width:768px) {
        font-size: 18px;
        line-height: 1.56;
    }
}

.provide__details {
    display: inline-block;
    margin: 0 auto;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 250ms $time-function;

    &:hover,
    &:focus {
        background-color: $hover-first-btn-color;
    }
}

.provide__details-text {
    list-style: none;
    width: 97px;
    font-size: 16px;
    line-height: 1.625;
    color: $secondary-color;

    padding: 11px 27px 12px 42px;
    width: 167px;

    @media screen and (min-width:768px) {
        font-size: 18px;
        line-height: 1.56;
    }
}
